
<div class="container">
<h1 class="display-4 text-center my-5">"Edit de commentaires"</h1>

<div class="row justify-content-center">

<%= form_for @comment do |f| %>

  <div class="form-group">

  <label> Contenu du commentaire <label>
  <%= f.text_area :content, class: 'form-control' %>

  </div>
  
  <div class="container">
    <div class="row justify-content-center">
        <div class="form-group">

             <button type="submit"> Updater le commentaire </button> 

        </div>

     <a href =" <%= comment_path(@id_comment)%>" class="btn btn-danger" data-method="DELETE"> Supprimer le commentaire </a>

    </div>
  </div>


<% end %>

 </div>

</div>
